.LiferayTT-portlet {
}

$ocean: rgb(49,175,180);
$light-gray: rgb(192, 192, 192);
.text-ocean{
	color: $ocean;
}

h1.text-ocean{
	font-size: 40px;
}
.product-icon{
	height: 56px;
    width: 80px;
    background-size: cover;
    background-image: url(../img/Icono.png);
}
#product-container{
    border: 1px solid $light-gray;
    box-shadow: 3px 3px $light-gray;
    flex-wrap: wrap;
}
.product{
	border: 1px solid $light-gray;
    border-radius: 30px;
    font-size: 1.6em;
    font-family: monospace;
    box-shadow: 3px 3px $light-gray;
}
.balance{
	font-size: 1.23em;
    font-family: monospace;
}